deps
_build
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

# Ignore package tarball (built via "mix hex.build").
autogentic-*.tar

# Where third-party dependencies like ExDoc output generated docs.
/doc/